/openChrome.js
/Working action.txt
/LoginTest/.vs/LoginTest/FileContentIndex
/LoginTest/.vs/LoginTest/FileContentIndex
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Pp]ublish*/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ib/
[Tt]log/
/vs
